<div class="banner">
  <h1>Stupid Coaching</h1>

  <div id="questions">
    <p><%= @questions %></p>
    <p><em>-- You</em></p>
  </div>
  <div id= "answers">
    <p><%= @answer %></p>
    <p><em>-- Your coach</em></p>
  </div>

<div class="new_question">
  <%= link_to "Ask a new question", ask_path %>
</div>
</div>
