<div class="banner">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything...</p>

  <div id="form">
    <form action="/answer" method="get">
    <input class="fill" type="text" name="question">
    <input class="button" type="submit" value="Ask!">
  </form>
  </div>
</div>

